.div1{
  display: flex;
  gap: 5px;
  margin-bottom: 4px;
}
.div2{
  display: flex;
  gap: 5px;
  margin-bottom: 4px;
}
.div3{
  display: flex;
  gap: 5px;
  margin-bottom: 4px;
}
.div4{
  display: flex;
  gap: 5px;
  margin-bottom: 4px;
}